#featured property {
  width: 800px;
  text-align: center;
}

#detail div {
  float: left;

}

div {

  text-align: center;
  background-color: red;
  width: 25%;
}

#featured-property p {
  width: 800px;
  margin: auto;
  text-align: left;
}